.checkout_product{
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutproduct_images{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutproduct_info{
    padding-left: 20px;
}
.checkoutproduct_info>button{
    background:orange;
    border: 1px solid;
    margin-top: 10px;
    border-color:black;
    color:black;
}
.checkoutproduct_rating{
    display:flex
}