.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color:slategray;
    border: 1px solid sienna;
    border-radius: 3px;
    margin-left: 0.4cm;
}
